Source: llama-cpp
Section: science
Priority: optional
Maintainer: Mathieu Baudier <mbaudier@argeo.org>
Build-Depends: debhelper-compat (= 13), pkg-config, cmake-data, cmake, cpio, curl, openssl, libcurl4-openssl-dev, file, git,
	ggml-dev
Standards-Version: 4.5.1
Homepage: https://github.com/ggerganov/llama.cpp
Rules-Requires-Root: binary-targets

Package: libllama
Priority: optional
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends},
 libggml
Description: Inference of LLMs in pure C/C++ (shared library)
 Llama.cpp inference of LLMs in pure C/C++ (shared library).

Package: llama-cpp-cli
Architecture: any
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends},
 libllama, curl
Description: Inference of LLMs in pure C/C++ (CLI)
 Llama.cpp inference of LLMs in pure C/C++ (CLI).

Package: llama-cpp-server
Architecture: any
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends},
 libllama, curl, openssl
Description: Inference of LLMs in pure C/C++ (CLI)
 Llama.cpp inference of LLMs in pure C/C++ (CLI).

Package: libllama-dev
Architecture: any
Priority: optional
Depends: ${misc:Depends},
 ggml-dev, libllama
Description: Inference of LLMs in pure C/C++ (development files)
 Llama.cpp inference of LLMs in pure C/C++ (development files).

Package: llama-cpp-dev
Architecture: any
Priority: optional
Depends: ${misc:Depends},
 libllama-dev
Description: Inference of LLMs in pure C/C++ (common static library)
 Llama.cpp inference of LLMs in pure C/C++ (common static library).
